.third{
    background-image: url(../images/faces.jpg);
    background-position: center ;
}
.category h3{
    color: deeppink;
    border-bottom: 1px solid deeppink;
}
.category .cate{
    line-height: 30px;
    padding: 10px;
}
.category .tag{
    line-height: 30px;
    padding: 10px;
}

.items{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.category{
    width: 20%;
}

#products{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#products > div{
    flex-wrap: wrap;
    width: 30%;
    margin-bottom: 20px;
}

#products img{
    width: 100%;
    height: 400px;
}

#products button{
    color: white;
    background-color: deeppink;
    padding: 5px;
    border: none;
}

.subscribe{
    text-align: center;
    margin-top: 50px;
    line-height: 20px;
}
.subscribe input{
    padding: 5px;
    width: 400px;
    margin-top: 10px;
}
.subscribe button{
    padding: 7px;
    background-color: deeppink;
    color: white;
    border: none;
}

.black{
    margin-top: 20px;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: 1px solid white;
}
.black ul li{
    list-style-type: none;
    padding: 5px;
}

.smes i{
    border: 1px solid white;
    padding: 5px;
}
.black h3{
    margin-top: 20px;
    color: deeppink;
    margin-bottom: 15px;
    
}


@media screen and (max-width: 800px) {
    #products > div{
        width: 40%;
    }
    .hide{
        display: none;
    }
}

@media  screen and (max-width:600px) {
    .latest > div{ 
        width: 50%;
        }
    
    .black > div{
         width: 40%;
         margin-left: 20px;
    }
    .category{
        display: none;
    }
    .acct{
        display: none;
    }
    
}

@media  screen and (max-width:600px) {
    .cart {
        display: none;
    }
    #products > div{
        width: 55%;
        margin: 0 auto;

    }

}




